## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [23]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Half Moon Bay,US,37.4636,-122.4286,80.91,40,0,0.00,clear sky
1,1,Sao Joaquim,BR,-28.2939,-49.9317,62.69,81,62,4.50,broken clouds
2,2,Upernavik,GL,72.7868,-56.1549,-13.83,78,100,15.50,overcast clouds
3,3,Mataura,NZ,-46.1927,168.8643,53.47,60,95,6.04,overcast clouds
4,4,Bejar,ES,40.3864,-5.7634,46.58,71,47,3.02,scattered clouds

In [24]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 95

In [25]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Half Moon Bay,US,37.4636,-122.4286,80.91,40,0,0.00,clear sky
9,9,Puerto Leguizamo,CO,-0.1934,-74.7819,83.68,67,100,2.98,overcast clouds
10,10,Alofi,NU,-19.0595,-169.9187,84.09,70,2,17.27,clear sky
25,25,Fare,PF,-16.7000,-151.0167,81.73,73,64,15.82,broken clouds
38,38,San Jose,US,37.3394,-121.8950,80.60,39,20,4.61,few clouds
39,39,Vaini,TO,-21.2000,-175.2000,84.36,89,40,6.91,scattered clouds
70,70,Faanui,PF,-16.4833,-151.7500,81.34,73,37,13.49,scattered clouds
80,80,Pundaguitan,PH,6.3711,126.1689,80.38,79,100,11.01,overcast clouds
89,89,Avarua,CK,-21.2078,-159.7750,82.45,74,59,12.66,broken clouds
90,90,Sabang,ID,5.8933,95.3214,81.66,70,100,9.19,overcast clouds

In [26]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                98
City                   98
Country                98
Lat                    98
Lng                    98
Max Temp               98
Humidity               98
Cloudiness             98
Wind Speed             98
Current Description    98
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Half Moon Bay,US,37.4636,-122.4286,80.91,40,0,0.00,clear sky
9,9,Puerto Leguizamo,CO,-0.1934,-74.7819,83.68,67,100,2.98,overcast clouds
10,10,Alofi,NU,-19.0595,-169.9187,84.09,70,2,17.27,clear sky
25,25,Fare,PF,-16.7000,-151.0167,81.73,73,64,15.82,broken clouds
38,38,San Jose,US,37.3394,-121.8950,80.60,39,20,4.61,few clouds
39,39,Vaini,TO,-21.2000,-175.2000,84.36,89,40,6.91,scattered clouds
70,70,Faanui,PF,-16.4833,-151.7500,81.34,73,37,13.49,scattered clouds
80,80,Pundaguitan,PH,6.3711,126.1689,80.38,79,100,11.01,overcast clouds
89,89,Avarua,CK,-21.2078,-159.7750,82.45,74,59,12.66,broken clouds
90,90,Sabang,ID,5.8933,95.3214,81.66,70,100,9.19,overcast clouds

In [28]:
clean_df.count()

City_ID                98
City                   98
Country                98
Lat                    98
Lng                    98
Max Temp               98
Humidity               98
Cloudiness             98
Wind Speed             98
Current Description    98
dtype: int64

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Half Moon Bay,US,80.91,clear sky,37.4636,-122.4286,
9,Puerto Leguizamo,CO,83.68,overcast clouds,-0.1934,-74.7819,
10,Alofi,NU,84.09,clear sky,-19.0595,-169.9187,
25,Fare,PF,81.73,broken clouds,-16.7000,-151.0167,
38,San Jose,US,80.60,few clouds,37.3394,-121.8950,
39,Vaini,TO,84.36,scattered clouds,-21.2000,-175.2000,
70,Faanui,PF,81.34,scattered clouds,-16.4833,-151.7500,
80,Pundaguitan,PH,80.38,overcast clouds,6.3711,126.1689,
89,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,
90,Sabang,ID,81.66,overcast clouds,5.8933,95.3214,

In [30]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df.dtypes
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   98
Country                98
Max Temp               98
Current Description    98
Lat                    98
Lng                    98
Hotel Name             98
dtype: int64

In [32]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))